# =========================
# Python 
# =========================
# temp files and cache files
__pycache__/
*.py[cod]
*$py.class

#
venv/
env/
.venv/
.env

# =========================
# VS Code 
# =========================
.vscode/

# =========================
# Jupyter Notebook 
# =========================
.ipynb_checkpoints/

# =========================
# output files
# =========================
# .csv

# Mac OS
.DS_Store